{% extends 'lg_app/base.html' %}

{% block content %}
<div class="sub_nav">
    <h6>About this site</h6>
</div>

<div class="main">
    <div class="about_page">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce accumsan arcu quis sagittis finibus. Fusce placerat augue quis dolor tristique porttitor. Aenean tristique lorem sit amet erat commodo hendrerit. Aliquam lacus felis, lacinia
            et
            laoreet efficitur, efficitur sed nibh. Aenean tincidunt mauris sed faucibus convallis. Phasellus est nulla, varius a lobortis a, vulputate non ligula. Etiam consectetur facilisis tellus, et scelerisque erat euismod at. Mauris venenatis
            blandit ex rutrum fermentum. Aenean tempor mauris magna, id eleifend est tincidunt ac.
        </p>
        <p>
            Quisque euismod nulla a justo porttitor, in finibus tellus euismod. Morbi vestibulum egestas ullamcorper. Donec vitae bibendum ante, at sollicitudin magna. Suspendisse vitae nisi ut urna condimentum ultrices ut et libero. Praesent vel
            dolor
            vitae odio rutrum tempus auctor eu tortor. Integer volutpat eget velit at varius. Vivamus at tortor maximus risus luctus suscipit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec aliquam,
            dolor non placerat pellentesque, augue metus aliquet lorem, tristique semper diam velit et felis. Etiam imperdiet tellus feugiat eleifend finibus. Nullam aliquam massa porta, sodales lorem vel, tempor lacus.
        </p>
    </div>

</div>


{% endblock %}