{% extends 'lg_app/base.html' %}

{% block content %}
<div class="sub_nav">
    <h6>About the Preset Previewer</h6>
</div>

<div class="main">
    <div class="about_page">
        <div class="about_page_paragraph">
            <div class="sub_header">
                What is the Preset Previewer?
            </div>
            <p>
                The Nicolesy Preset Previewer is a way for you to preview many of the <a href="https://store.nicolesy.com/collections/lut-files" target="_blank">LUT preset packs</a> in the Nicolesy Store with your own photographs before you purchase
                them.
            </p>
        </div>
        <div class="about_page_paragraph">
            <div class="sub_header">
                How do I get started?
            </div>
            <p>
                To get started, first you will need to create a user account. Then, click the upload button at the top of the page and select a file you wish to preview. After your photo is uploaded and processed, you will be redirected to a page
                where you can preview the Nicolesy LUT presets with your own image.
            </p>
        </div>
        <div class="about_page_paragraph">
            <div class="sub_header">
                Are my photos safe?
            </div>
            <p>
                Yes! Any photo you upload here will only be used on this site for you to preview the preset packs. I do not and will not use your photos without your permission. Also, each time you upload a photo, the previous images is deleted and
                removed from the database.
            </p>
        </div>
    </div>

</div>


{% endblock %}