{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Looking Glass</title>

    <!-- axios CDN -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>

    <!-- static css -->
    <link rel="stylesheet" type="text/css" href="{% static 'lg_app/style.css' %}">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">

    <!-- favicon -->
    <link rel="icon" href="{% static 'lg_app/nicolesy.png' %}" />

    <!-- Vue: development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!-- materialize icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<span>Hello, {{user.username}}</span>
{% if user.is_authenticated %}
<a href="{% url 'users:logout_user' %}">Logout</a>
{% else %}
<a href="{% url 'users:login_register' %}">Login</a>
{% endif %}

<body>
    <div class="top_nav">
        <div class="logo">
            <a href="{% url 'lg_app:index' %}"><img src="{% static 'lg_app/images/nicolesy_logo.png' %}" width="250px"></a>
        </div>
        <ul id="dropdown1" class="dropdown-content">
            <li><a href="#!">Profile</a></li>
            <li class="divider"></li>
            <li><a href="{% url 'users:login_register' %}">Login</a></li>
            <li><a href="#!">two</a></li>
            <li><a href="#!">three</a></li>
        </ul>
        <nav class="grey lighten-1">
            <!-- <div class="nav_links"> -->
            <div class="nav-wrapper nav_center">
                <ul>
                    <li><a href="https://nicolesyblog.com">Blog</a></li>
                    <li><a href="https://store.nicolesy.com">Store</a></li>
                    <li><a href="https://nicolesy.zendesk.com/hc/en-us/requests/new">Contact</a></li>
                    <li>|</li>
                    <li><a class="dropdown-trigger dropdown_trigger" href="#!" data-target="dropdown1">Account<i class="material-icons right">arrow_drop_down</i></a></li>
                    <li><a href="{% url 'users:login_register' %}">Login</a></li>
                    <li>
                        <!-- Modal Trigger -->
                        <a class="waves-effect waves-light btn modal-trigger {% if user.is_authenticated %} {% else %} disabled {% endif %}" href="#modal1">{% if user.is_authenticated %}Upload a photo{% else %}Login to upload{% endif %}</a>

                        <!-- Modal Structure -->
                        <div id="modal1" class="modal">
                            <div class="modal-content">
                                <h4>Photo upload</h4>
                                <form action="{% url 'lg_app:upload_photo' %}" method="post" enctype="multipart/form-data">

                                    {% csrf_token %}
                                    <div class="file-field input-field upload_form">
                                        <div class="upload_button btn col s6">
                                            <span>Select a photo</span>
                                            <input type="file" name="upload_photo" accept="image/*">
                                            <input type="hidden" value={{ image.user_id }}>
                                        </div>
                                        <div class="file-path-wrapper col s6">
                                            <input class="file-path validate" type="text">
                                        </div>
                                    </div>

                                    <button class="btn upload_btn">Upload</button>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- </div> -->
        </nav>
    </div>


    {% block content %}
    {% endblock %}

    <footer class="page-footer grey lighten-2">
        <div class="container">
            <div class="row">
                <div class="grey-text text-darken-3 col l3 s12">
                    <h5><img src="https://via.placeholder.com/150"></h5>

                </div>
                <div class="grey-text text-darken-3 col l8 s12">
                    <h5>About Nicole</h5>
                    <p>Nicole S. Young is a professional photographer and published author whose love of photography and teaching has grown into an online photography business. Nicole is best known for her books on food photography, but is widely
                        versed in a variety of photographic genres, including landscape, travel, lifestyle, and even underwater photography.</p>
                </div>

            </div>
        </div>
        <div class="footer-copyright grey-text text-darken-3">
            <div class="container">
                © 2019 Nicolesy, Inc.
            </div>
        </div>
    </footer>
    <script type="text/javascript" src="{% static 'lg_app/script.js' %}"></script>
    <script type="text/javascript" src="{% static 'lg_app/vue_app.js' %}"></script>
</body>

</html>