{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Looking Glass</title>

    <!-- static css -->
    <link rel="stylesheet" type="text/css" href="{% static 'lg_app/style.css' %}">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">

</head>

<body>
    <div class="top_nav">
        <div class="logo">
            <img src="{% static 'lg_app/images/nicolesy_logo.png' %}" width="250px">
        </div>
        <div class="nav_links">
            <ul>
                <li><a href="https://nicolesyblog.com">Blog</a></li>
                <li><a href="https://store.nicolesy.com">Store</a></li>
                <li><a href="https://nicolesy.zendesk.com/hc/en-us/requests/new">Contact</a></li>
            </ul>
        </div>
    </div>

    {% block content %}
    {% endblock %}

    <footer class="page-footer grey lighten-2">
        <div class="container">
            <div class="row">
                <div class="grey-text text-darken-3 col l3 s12">
                    <h5><img src="https://via.placeholder.com/150"></h5>

                </div>
                <div class="grey-text text-darken-3 col l8 s12">
                    <h5>About Nicole</h5>
                    <p>Nicole S. Young is a professional photographer and published author whose love of photography and teaching has grown into an online photography business. Nicole is best known for her books on food photography, but is widely
                        versed in a variety of photographic genres, including landscape, travel, lifestyle, and even underwater photography. Click here to read more.</p>
                </div>

            </div>
        </div>
        <div class="footer-copyright grey-text text-darken-3">
            <div class="container">
                © 2019 Nicolesy, Inc.
            </div>
        </div>
    </footer>
    <script type="text/javascript" src="{% static 'lg_app/script.js' %}"></script>
</body>

</html>