{% extends 'lg_app/base.html' %}

{% block content %}

<div id="cover_index" style="display: none">
    <div id="loader_index" style="display:none">
        <div class="loader"></div>
    </div>
</div>

<div class="sub_nav">
    <h6>Welcome, {{ user.username }}!</h6>
    <p>Select a <a id="select_pack">preset pack below</a> to get started</p>
</div>

<div class="main">
    {% if user.is_authenticated %}
    {% if latest_image.user_img is None %}
    <div class="no_latest_img_div">
        <h5>Upload a photo to get started:</h5>
        <button id="no_latest_img" class="btn"><i class="fad fa-upload"></i></button>
    </div>
    {% else %}
    <div class="photos">
        <div><img class="before_after before" src="uploads/{{ latest_image.user_img }}" title="{{ latest_image.user_img }}">
            <div class="description">Before</div>
        </div>
        <div><img class="before_after after" id="image_after" src="uploads/{{ latest_image.user_img }}">
            <div id="description_after" class="description">After</div>
        </div>
    </div>

</div>


<!-- Select drop-down  -->
<form action="" method='post'>
    {% csrf_token %}
    <div class="preset_packs" id="select_packs_scroll">
        <div class="container flex_select">
            <div class="input-field flex_select_list">
                <select id="preset_packs" class="icons" name="preset_pack_id">
                    <option disabled selected>Select a preset pack:</option>
                    {% for preset_pack in preset_packs %}
                    <option value="{{ preset_pack.id }}" data-icon="{{ preset_pack.pack_thumbnail.url }}" class="left">{{ preset_pack.pack_name }}</option>
                    {% endfor %}
                </select>
            </div>
            <button id="select_list" class="btn">View Presets</button>
        </div>
    </div>
</form>
{% endif %}

<!-- thumbnails section -->
<div class="pack_title">{{ pack.pack_name }}</div>
<div class="pack_thumbnails_section">
    <div class="preset_list" id="{{ image.preset.preset_pack.pack_name }}">
        {% for image in processed_images %}
        <ul>
            <div class="preset_thumbnail">
                <li>
                    <img class="image_thumbnail tooltipped" data-position="top" data-tooltip="{{ image.preset.preset_name }} ({{ image.preset.preset_pack.pack_name }}) " src="{{image.image.url}}"
                        title="{{ image.preset.preset_name }} ({{ image.preset.preset_pack.pack_name }})">
                </li>
            </div>
        </ul>
        {% endfor %}
    </div>

    <!-- this appears when a specific preset pack is selected from the drop-down list -->
    {% if pack%}
    <div class="pack_info" id="pack_info_{{ pack.pack_name }}">
        <div class="learn_more">
            <h4>Learn more about these presets:</h4>
        </div>
        <div class="pack_info_cover">
            <div class="pack_info_thumbnail"><a href="{{ pack.pack_url }}"><img class="tooltipped" src="uploads/{{pack.pack_cover}}" data-position="top" data-tooltip="View the {{ pack.pack_name }} pack in the Nicolesy Store"></a></div>
            <div class="pack_info_details">
                <div>
                    <h5>{{ pack.pack_name }}</h5>
                    <p>{{ pack.pack_description }}</p>
                    <p class="price">Price: {{ pack.pack_price }}
                </div>
                <div>
                    <a href="{{ pack.pack_url }}" class="btn btn-learn-more tooltipped" data-position="top" data-tooltip="View in the Nicolesy Store" target="_blank">Learn more&nbsp;&nbsp;&nbsp;</a>
                    <form id="info_form" action="{% url 'lg_app:add_fave' pack.id %}" method="post">
                        {% csrf_token %}
                        <input value="{{ pack.pack_fave }}" type="hidden" name="add_pack_fave">
                        <button class="btn btn-wishlist tooltipped" data-position="bottom" data-tooltip="Add to your wishlist" target="_blank">Add to wishlist&nbsp;&nbsp;&nbsp;</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
    {% endif %}

</div>

{% else %} <h4>Please <a href=" {% url 'users:login_register' %}">Login</a></h4>
{% endif %}


<script type="text/javascript">
    // this triggers the modal when clicked (this is the initial index page a user sees if they have not yet uploaded a photo)
    let no_latest_img = document.querySelector("#no_latest_img")
    let modal_trigger = document.querySelector("#modal_trigger")

    no_latest_img.addEventListener("click", function() {
        modal_trigger.click();
    })
</script>
{% endblock %}