{% extends 'lg_app/base.html' %}

{% block content %}
<div class="sub_nav">
    <h6>{{ user.username }}'s wishlist</h6>
</div>


<div class="main">
    {% if preset_packs.pack_fave is False %}
    <h5>Your wishlist is empty!</h5>
    <p>Upload a photo with the link in the menu to preview LUT packs with your own photographs.</p>
    {% else %}
    <div class="favorite_list">

        {% for preset_pack in preset_packs %}

        <div class="favorite_packs">
            {% if  preset_pack.pack_fave %}
            <div><a href="{{ preset_pack.pack_url }}" target="_blank"><img class="preset_cover pack_info_thumbnail" src="{{preset_pack.pack_cover.url}}" title="{{preset_pack.pack_name}}"></a>
            </div>
            <div class="pack_name"><span>{{preset_pack.pack_name}}</span></div>
            <div class="pack_description">{{preset_pack.pack_description}}</div>
            <div class="pack_price">${{ preset_pack.pack_price }}</div>
            <a class="btn tooltipped btn_learn_more" data-position="top" data-tooltip="View in the store" href="{{ preset_pack.pack_url }}" target="_blank">Learn More</a>
            <div>
                <form action="{% url 'lg_app:delete_fave' preset_pack.id %}" method="post">
                    {% csrf_token %}
                    <input value="{{ preset_pack.id }}" type="hidden" name="delete_pack_fave">
                    <button class="btn-flat btn_fave_remove" target="_blank">Remove from wishlist</button>
                </form>
            </div>
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}


    </div>
</div>




{% endblock %}