body {
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
}

.top_nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.nav_links {
    background: #f5f5f5;
    width: 100%;
    height: 50px;
    margin-top: 20px;
}

.logo {
    margin: 40px 20px 0 20px;
}

.nav_links ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

li a {
    color: #424242;
}

li a:hover {
    color: #00acc1;
}

.nav_links li {
    margin: 0 20px;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.photos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.photos img {
    margin: 10px;
}

footer {
    margin-top: 100px;
}

.preset_packs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-top: 30px;
}

.preset_list {
    min-height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.preset_thumbnail {
    width: 200px;
    margin: 5px;
}

.preset_name {
    font-size: 12px;
    text-align: center;
    display: block;
    width: 100%;
}

.user_page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login .register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    width: 600px;
    margin-bottom: 50px;
}

a {
    cursor: pointer;
}