body {
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
}

.top_nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav_links {
    background: #f5f5f5;
    /* width: 100%; */
    height: 50px;
    margin-top: 20px;
}

.logo {
    margin: 40px 20px 0 20px;
}

.nav_links ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

li a {
    color: #424242;
}

li a:hover {
    color: #fff;
}

.nav_links li {
    margin: 0 20px;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.photos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.photos img {
    margin: 10px;
    max-width: 100%;
    height: auto;
    max-height: 100vh;
}

.preset_packs {
    width: 100%;
    background-color: #f5f5f5;
    margin-top: 50px;
}

.flex_select {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 750px !important;
}

.flex_select_list {
    flex-grow: 1;
    margin-right: 50px;
}

.pack_title {
    display: block;
    text-align: center;
    margin-top: 50px;
    font-size: 42px;
}

.select-wrapper img {
    height: 60px !important;
    width: 50px !important;
    margin: 0 20px !important;
}

.select-wrapper span {
    height: 60px !important;
    margin: 5px 0 !important;
    font-size: 16px !important;
    color: black !important;
}

.preset_list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 50px;
}

.preset_name {
    font-size: inherit;
    text-align: center;
    display: block;
}

.preset_thumbnail {
    font-size: 12px;
    cursor: pointer;
    margin: 5px;
}

.user_page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login .register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user_page {
    max-width: 600px;
    margin: 0 auto;
}

form {
    margin-top: 10px;
}

a {
    cursor: pointer;
}

img.image_thumbnail {
    object-fit: cover;
    width: 20vh;
    height: 20vh;
    padding: 5px;
}

img.image_thumbnail:hover {
    opacity: 70%;
    transition: 300ms;
}

.before_after {
    object-fit: contain;
    width: 75vh;
    height: 75vh;
}

.upload_btn {
    width: 100%;
}

.select_btn {
    background-color: #5bb8bf !important;
    color: white !important;
}

.select_btn:hover {
    background-color: #424242 !important;
}

.btn {
    box-shadow: none !important;
    background-color: #5bb8bf !important;
}

.btn:hover {
    color: white !important;
    background-color: #424242 !important;
}

.select_btn:hover {
    color: white !important;
    background-color: #424242 !important;
}

nav {
    margin-top: 20px;
    box-shadow: none !important;
    font-weight: normal !important;
}

.nav_center {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
}

h4 {
    color: black !important;
}

.nicolesy_photo {
    max-width: 150px;
    max-height: 150px;
}

.description {
    text-align: center;
    font-size: 16px !important;
}

.newsletter_signup {
    /* margin: 100px 0; */
    padding: 20px 30px 50px 30px !important;
    background-color: #fafafa !important;
    width: 100%;
}

/* activecampaign newsletter form */
._form_element input {
    background-color: white !important;
}

.sub_nav h6 {
    margin: 0 auto;
    padding: 15px 0;
    text-align: center;
    text-transform: uppercase;
    background-color: #fafafa;
}

.favorite_packs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.favorite_packs img {
    max-width: 250px;
    margin: 0 20px;
}

.favorite_packs .btn {
    margin: 5px 20px;
}

.favorite_list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.pack_name {
    font-weight: bold;
    margin: 5px 0;
}

.favorite_packs .pack_description {
    margin: 5px 0;
    max-width: 250px;
    font-size: 12px;
    text-align: center;
}

.fontawesome_footer {
    margin-right: 10px;
}

.about_page {
    max-width: 800px;
}

/* learn more section with preset pack image and description */
.pack_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pack_info img {
    max-width: 800px;
}

.learn_more {
    background-color: #fafafa;
    width: 100%;
    text-align: center;
    margin: 30px 0;
    padding: 30px 0;
}

.pack_info_cover {
    display: flex;
    flex-direction: row;
}

.pack_info_details {
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    max-width: 300px;
    justify-content: space-between;
}

.pack_info_details h5 {
    margin: 0 !important;
}

.btn-wishlist {
    width: 100%;
    margin-top: 5px !important;
}

.btn-learn-more {
    width: 100%;
}

.btn-wishlist:hover:after {
    transition: 500ms;
    content: "\f004";
    font-family: "FontAwesome";
}

.btn-learn-more:hover:after {
    transition: 500ms;
    content: "\f061";
    font-family: "FontAwesome";
}

.pack_info_thumbnail:hover {
    transition: 500ms;
    opacity: 80%;
}

.pack_info_thumbnail img {
    max-width: 400px;
}

#info_form {
    margin: 0 !important;
}

.modal-content {
    margin-bottom: 0 !important;
}

/* loading button spinner */
.loader {
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid #FF8A65;
    /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#loader {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 101;
}

#loader_index {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 101;
}

#cover {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 100;
    width: 100%;
    height: 100%;
}

#cover_index {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 100;
    width: 100%;
    height: 100%;
}

#top_bar {
    position: relative;
    padding: 5px 0;
    background-color: #FF8A65;
    width: 100%;
    z-index: 100;
    color: white;
    text-align: center;
}

.strong {
    font-weight: bold !important;
}

#upload_alert {
    color: black;
    margin: 0px !important;
}

.sub_header {
    font-size: 24px;
}

.about_page_paragraph {
    margin-bottom: 50px;
}

.about_page_paragraph a {
    border-bottom: #FF8A65 solid;
    color: inherit !important;
}

.about_page_paragraph a:hover {
    color: black !important;
    background-color: #FF8A65;
    transition: 500ms;
}

.about_page_paragraph p {
    line-height: 1.75;
}

.pack_info_details .price {
    font-size: 20px;
}

.no_latest_img_div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.no_latest_img_div h5 {
    margin-right: 20px;
}

.no_latest_img_div button {
    width: 70px !important;
}

.beta_badge {
    position: fixed;
    right: 0;
    bottom: 0;
    margin-bottom: -10px !important;
}

/* these are the buttons on the wishlist page */
.btn_learn_more {
    margin-top: 20px !important;
    margin-bottom: 0px !important;
}

.btn_fave_remove {
    margin-top: 0 !important;
    font-size: 12px !important;
    color: gray !important;
}

.center {
    text-align: center;
}

.login_error {
    margin-top: 20px;
    color: red;
    padding: 10px 30px;
}

/* this is the info header section on the login/registration page */
.how_to_header {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    background: #cbf0f2 !important;
    text-align: center !important;
    padding: 60px 20px 70px 20px !important;
    color: red;
}

.how_to_title {
    font-size: 3em !important;
    text-transform: uppercase !important;
}